<nav class='navbar navbar-default navbar-static-top' style='margin: 0'>
    <div class='container'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#navbar' aria-expanded='false'
                aria-controls='navbar'>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' href='javascript:void(0)'>CryptoMessenger</a>
        </div>
        <div id='navbar' class='navbar-collapse collapse'>
            <ul class='nav navbar-nav navbar-right cm-tab-bar'>
                <li class='register-tab'><a href='javascript:void(0)'>Register</a></li>
                <li class='log-in-tab'><a href='javascript:void(0)'>Log In</a></li>
                <li class='chat-tab'><a href='javascript:void(0)'>Chat</a></li>
                <li class='log-out-tab'><a href='javascript:void(0)'>Log Out</a></li>
            </ul>
        </div>
    </div>
</nav>