<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
</head>

<body>
    <div class="cm-fill">
        <form action="#" class="cm-form form-signin" style="max-width: 20em; margin: auto" enctype="multipart/form-data">
            <h2 class="form-signin-heading">Register:</h2>

            <input type="text" class="cm-username form-control" placeholder="Username" required autofocus>
            <br/>

            <input type="text" class="cm-nickname form-control" placeholder="Nickname" required>
            <br/>

            <input type="password" class="cm-password form-control" placeholder="Password" required>
            <input type="password" class="cm-retype form-control" placeholder="Retype password" required>

            <br/>
            <label>Avatar Image:</label>
            <input type="file" accept="image/*" name="avatarImage" class="cm-avatar form-control-file" />
            <br/>

            <button class="cm-submit btn btn-lg btn-primary btn-block">Register</button>
        </form>
    </div>
</body>

</html>