<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
</head>

<body>
    <div class="cm-fill">
        <form action="#" class="cm-form form-signin" style="max-width: 20em; margin: auto" enctype="multipart/form-data">
            <h2 class="form-signin-heading">Profile:</h2>

            <label>Type to redefine your nickname:</label>
            <input type="text" class="cm-nickname form-control" placeholder="Nickname">
            <br/>

            <label>Type to redefine your password:</label>
            <input type="password" class="cm-password form-control" placeholder="Redefine Password">
            <input type="password" class="cm-retype form-control" placeholder="Retype redefine password">

            <br/>
            <label>Fill if you want to change your avatar:</label>
            <input type="file" accept="image/*" name="avatarImage" class="cm-avatar form-control-file" />
            <br/>

            <input type="password" class="cm-current-password form-control" placeholder="Type your current password" required>

            <button class="cm-submit btn btn-lg btn-primary btn-block">Update Profile</button>
        </form>
    </div>
</body>

</html>