* {
    margin: 0;
    border: none;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
	background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
	background-color:#007dc1;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
	background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
	background-color:#0061a7;
}
.myButton:active {
	position:relative;
	top:1px;
}



body, input {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 18px;
    color: black;
    text-shadow: 0 0 0.0625em #777;
}

.fancyBox {
    float: left;
    border-radius: 0.5em;
    border: 0.25em solid blue;
    background-color: lightblue;
    padding: 0.25em;
    box-shadow: 0.125em 0.125em 0.125em darkblue;
}

.contactBox {
    width: calc(30% - 0.25em);
    height: calc(100% - 0.125em);
    margin-right: 0.25em;
}

.avatar {
    max-height: 2em;
    max-width: 2em;
    margin: 0.25em 1em 0.25em 0.25em;
}

.contact {
    width: 100%;
    border: 0.125em solid lightblue;
    padding: 0 0.5em;
    display: flex;
    align-items: center;
}

.contact:hover {
    background-color: #ccccff;
    border: 0.125em outset lightblue;
}

.contact:active {
    background-color: lightskyblue;
    border: 0.125em inset lightblue;
}

.chatBox {
    width: calc(70% - 0.125em);
    height: calc(100% - 0.125em);
}

.chatText {
    clear: both;
    border: 0.125em solid blue;
    background-color: whitesmoke;
    padding: 0.25em;
    box-shadow: 0.125em 0.125em 0.25em darkblue;
    border-radius: 0.5em;
    margin: calc(0.125em + 0.25em);
}

.chatTextThey {
    float: left;
    border-top-left-radius: 0;
    margin-right: 20%;
}

.chatTextMe {
    float: right;
    border-bottom-right-radius: 0;
    margin-left: 20%;
}

